body {
  background-color: #e8ffff;
  margin: 0;
  text-align: center;
}

h1 {
  font-family: 'Sacramento', cursive, sans-serif;
  margin: 0 auto;
}

h3 {
 font-family: robotoRegular,"Helvetica Neue",Arial,sans-serif;
 margin: 0;
 vertical-align: middle;
}

a {
  color: blue;
  font-family: Montserrat, sans-serif;
}

div {
  width: 100%;
}

iframe {
  vertical-align: middle;
  height: 100%;
  width: 100%%;
  margin: 40px auto;
}

.top-container {
  background-color: #a6f6f1;
  height: 250px;
}

.middle-container {
  background-color: #e8ffff;
  height: auto;
  text-align: center;
}

.bottom-container {
  background-color: #41aea9;
  margin-top: 0;
  height: 200px;
}
